@media (max-width:640px){
    .mobile-intro{
        /* display: none; */
        /* background-color: aqua; */
        /* clip-path: polygon(20% 0%, 80% 0,80% 100%, 20% 100%); */
        /* background-clip: polygon(20% 0%, 65% 0,65% 100%, 20% 100%); */
        width: max-content;
        display: flex;
        justify-items: center;
    }
}
.loader-images{
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
}
.intro-section{
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
}
.shadows-crousal::before{
    content: "";
    position: absolute;
    right: 80%;
    left: 0;
    top: 0;
    bottom: 0;
    z-index: 2;
    background-image: linear-gradient(
      to right,
      rgba(5, 5, 5, 1) 45%,
      rgba(0, 0, 0, 0.001) 100%
    );
    
}
.shadows-crousal::after{
    content: "";
    position: absolute;
    right: 0;
    left: 80%;
    top: 0;
    bottom: 0;
    z-index: 1;
    background-image: linear-gradient(
      to left,
      rgba(5, 5, 5, 1) 45%,
      rgba(0, 0, 0, 0.001) 100%
    );
    /* background-color: aqua; */
}
@media (max-width:640px) {
    .swiper-wrapper {
        transition-timing-function: linear !important; /* Forces linear easing */
      }
}
